<mat-drawer #drawer class="sidenav" mode="side">
  <div class="sidenav-container">
    <button
      type="button"
      mat-raised-button
      color="primary"
      *ngFor="let item of contents"
      [routerLink]="item?.router"
      (click)="drawer.toggle()"
    >
      {{ item?.label }}
    </button>
  </div>
</mat-drawer>
<mat-drawer-container class="container" autosize>
  <div class="sidenav-content">
    <button type="button" mat-raised-button (click)="drawer.toggle()">
      menu
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
