.container {
  min-width: 960px;
  height: 100vh;
  background-color: beige;
}

@mixin flex-column($ai: center, $jc: center) {
  display: flex;
  flex-direction: column;
  align-items: $ai;
  justify-content: $jc;
}

.sidenav-content {
  height: 100%;
  @include flex-column(center, start);
  gap: 20px;
  button {
    margin-top: 20px;
    width: 50%;
  }
}

.sidenav {
  padding: 20px;
}

.sidenav-container {
  @include flex-column;
  gap: 10px;
  button {
    width: 100%;
  }
}
